<!DOCTYPE html>
<!--
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
     SoftDev
     P00
 -->



<html>

  <head>
    <meta charset="UTF-8">
    <title>ETSSetera</title>


  </head>

  <body>
     <h1>Welcome to ETSSetera blogs</h1>
  </body>

  <h1>
   <!-- userpass['username'] -->
  </h1>

  <ul class = "list-group">
      <!-- loop through posts -->
  </ul>

  <form method = "POST">
    <textarea class = "form-control"></textarea>
    <br><br>

    <button type = "submit" class = "btn btn-primary"> Add Post </button>
  </form>

</html>
