<!DOCTYPE html>
<html>
<head>
	<title>Current Posts</title>
</head>
<body>

	<!--
	(3, 'sean', 't2', 'Vivamus sucipit taciti', 'vivamus')

	sample tuple of one of our entries of our blog db so long 
	as we ensure to select rowid, * in our command.
	-->

	{% for id, username, title, contents, keyWords in matches %}
	<div>
		<h2>
			<a href="/view/{{id}}">{{title}}</a>
		</h2>
	</div>
	<hr>

	{% endfor %}

	{%if canEdit %}
	<form action="/create" method = "POST">
    <label for="topic">Update Topic:</label>
    <!-- lets you choose topic -->
    <select name="topic" id="topic">
      <option value="empty">  </option>
      <option value="teachers">Teachers</option>
      <option value="schoolpolicies">School Policies</option>
      <option value="rants">Rants</option>
      <option value="misc">Miscellaneous</option>
    </select>
    <br><br>
    <!-- title -->
    <label for="title">Title:</label>
    <input type="text" name="title" style="width: 250px;"></input>
    <br><br>
    <!-- blog content -->
    <label for="postcontent">Write Your Post Here:</label>
    <br>
    <textarea name="postcontent" style="width: 400px; height: 200px;"></textarea>
    <br><br>
    <input type = "submit" value="Update Post">
    <br><br>
    </form>
	{% endif %}

</body>
</html>