<!DOCTYPE html>
<!DOCTYPE html>
<!--
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
     SoftDev
     P00
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <h1>
    ETSSetera Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
  </h1>
  <h2>
    Hello, {{ username }}!
  </h2>

  <body>
    Welcome to StuyBlogs! Use the links below to create and view posts.
  </body>
  <br><br>
  <a href="{{ url_for('create') }}">Create Post</a>
  <br><br>
  <a href="{{ url_for('logout') }}">Log Out</a>

</html>
