<!DOCTYPE html>
<!DOCTYPE html>
<!--
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
     SoftDev
     P00
 -->


<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <h1>
    ETSSetera Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
  </h1>
  <h2>
    Hello, {{ username }}!
  </h2>

  <body>
    Welcome to StuyBlogs! Use the links below to create and view posts.
  </body>
  <ul>
    {% for row in data %}
        <h4> {{row[1]}} </h4>
        {{row[2]}}
        <br>
        <i> Written by {{row[0]}} </i>
        <br><br>
    {% endfor %}
  <ul>
  <br><br>
  <a href="{{ url_for('create') }}">Create Post</a>
  <br><br>
  <a href="{{ url_for('logout') }}">Log Out</a>

</html>
