<!DOCTYPE html>
<!--
     ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
     SoftDev
     P00
 -->


<html>

  <head>
    <title> VIEWSELECTED PAGE </title>
  </head>

  <h3>
    ETSSetera: Shyne Choi, Ella Krechmer, Tina Nguyen, Sean+Patrick Ging
  </h3>

  <body>
    Welcome to ETSSetera blogs!
  </body>

  <ul>
    {% for row in data %}
      {% if topic == row[4] %}
        <b> {{row[2]}} </b> -- <u>{{row[4]}}</u>
        <br>
        {{row[3]}}
        <br>
        <i> Written by {{row[1]}} </i>
        <br><br>
      {% endif %}
    {% endfor %}
  </ul>

  <a href="{{ url_for('loggedin') }}">Go back to homepage</a>

</html>
